<%- include('layouts/header') %>
<main class="container">
    <form action method="get">
        <select class="form-select" size="10" aria-label="Size 10 select example">
            <%= array.forEach(element => {
                
            }); %>
            <option value="1"> <%= city %></option>
          </select>
    </form>
</main>
<%- include('layouts/footer') %>
